[submodule "third_party/ROMP"]
	path = third_party/ROMP
	url = https://github.com/EasyPaperSniper/ROMP.git
	branch = Switch4EAI
[submodule "third_party/GMR"]
	path = third_party/GMR
	url = https://github.com/YanjieZe/GMR.git
[submodule "third_party/humanoid_general_motion_tracking"]
	path = third_party/humanoid_general_motion_tracking
	url = https://github.com/zixuan417/humanoid-general-motion-tracking.git
